body {
  margin: 5px;
  padding: 0;
}

.App {
  display: flex;
  justify-content: center;
}

.App-header {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  font-size: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: brown;
  width: 60%;
  height: 50px;
  align-items: center;
  border-radius: 10px;
}

.todo_container {
  position: relative;
  margin-top: 20px;
  width: 35%;
  height: auto;
  border: 2px solid black;
  border-radius: 10px;
  padding: 0 20px;
}

.todo_title {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  height: 60px;
  width: 100px;
  align-items: center;
  cursor: pointer;
}

.todo {
  margin: 10px 0;
  border: 1px solid black;
  width: 100%;
  height: auto;
  padding: 5px;
}

.todo_desc {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo_state {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  cursor: pointer;
}

.todo_name {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.todo_panel {
  width: 70px;
  display: flex;
  justify-content: space-between;
}

.todo_panel img {
  cursor: pointer;
}

.modal_edit_todo {
  position: absolute;
  width: 400px;
  height: 220px;
  background-color: blue;
  border: 2px solid black;
  border-radius: 10px;
  top: 25%;
  left: 15%;
  align-items: center;
  padding-top: 10px;
}

.edit_todo {
  width: 300px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
}

.edit_todo h4 {
  margin: 0;
  margin-bottom: 10px;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.edit_todo input {
  width: 200px;
  height: 30px;
  border-radius: 10px;
  border: none;
  outline: none;
}

.edit_todo button {
  width: 100px;
  height: 30px;
  border-radius: 10px;
  border: none;
  background-color: greenyellow;
}
